.header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #5aa4da;
    height: 70px;
    padding: 0 7%;
    /*position: sticky;*/
    /*top: 0;*/
    border: none;
}

.headerContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    margin: 0 auto;

}